<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@1000;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}" />
  <link href="https://fonts.googleapis.com/css2?family=Allura&display=swap" rel="stylesheet" />
</head>
<body>

  <div id="music-icon">play music (headphones warning)</div>

  <!-- Background audio -->
  <audio id="bg-music" loop></audio>

  <main>
    <h1>emily's <a href="https://leucinemymind.github.io/">blog</a></h1>
    <h1>my favorite books</h1>
  </main>

</body>
</html>
