<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  

  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@1000;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
  <link href="https://fonts.googleapis.com/css2?family=Allura&display=swap" rel="stylesheet">
</head>
<body>

<audio id="bg-music" src="{{ 'oceanwaves.mp3' | relative_url }}" autoplay loop controls></audio>

  <main>
    <h1>emily's blog</h1>
    {{ content }}
  </main>

</body>
</html>
