<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  

  <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Cormorant+Garamond&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/assets/style.css' | relative_url }}">
  <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
</head>
<body>

<audio autoplay loop style="display:none;">
    <source src="oceanwaves.mp3" type="audio/mpeg">
  </audio>

  <main>
    <h1>emily's blog</h1>
    {{ content }}
  </main>

</body>
</html>
