---
layout: default
---

<article class="post">
  <h1 class="page-heading">{{ page.title }}</h1>
  
    <p class="post-meta">
    <span class="date">{{ page.date | date: "%Y.%m.%d" }}</span>
    {% if page.author %}
      <span class="author">by {{ page.author }}</span>
    {% endif %}

  <p><em>estimated reading time: 
    {% assign words = content | number_of_words %}
    {% assign reading_time = words | divided_by:200 %}
    {{ reading_time | ceil }} minute{% if reading_time != 1 %}s
  </em></p>

  <p>
    {% for tag in page.tags %}
      <span class="tag">{{ tag }}</span>{% unless forloop.last %}, {% endunless %}
    {% endfor %}
  </p>


  {{ content }}
</article>
